.login-main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #fff;

}

.login-hero {
    display: flex;
    width: 100%;
    background-color: #2e1a47;
    margin: 0 auto;
    display: flex;
    align-self: center;
    border-top: none;
}


@media screen and (max-width: 790px) {
    .login-banneraera {
        width: 55% !important;
    }

    .login-form-area {
        width: 45% !important;
    }
}


@media screen and (max-width: 600px) {
    .login-banneraera {
        width: 100% !important;
        min-height: 450px;
        align-items: center;
        justify-content: center;
    }

    .login-form-area {
        width: 100% !important;
    }

    .login-hero {
        flex-direction: column-reverse;
    }


}



.login-banneraera {
    width: 70%;
    background-image: url('https://static.truist.com/content/dam/truist-bank/us/en/images/hero/personalization/hero-man-wearing-red-and-black-plaid-shirt-holding-dog-1x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px 20px !important;
}


.login-banner-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 320px;
    color: #2e1a47;
    
}
.login-banner-content h1 {
    font-weight: 200;
    letter-spacing: 1px;
 }

.login-form-area {
    width: 30%;
}
.getoffer-login{
    font-size: 18px;
    padding: 14px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    border: none;
    background-color: #6c518c;
    border-radius: 12px;
    color: #fff;
}

.banner-popup {
    max-width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -14%;
    border: 1px solid #a3a3a3;

}


* {
    box-sizing: border-box;
}

.login-main * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-main img {
    width: 100%;
    height: auto;
}

.login-box {
    background-color: #2e1a47;
    color: #767477;
    padding: 20px;
    width: 100%;
    max-width: 100%;
}

.login-welcome-title {
    font-size: 16px !important;
}


.login-topside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-open-account-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px;
    border: none;
    background: #398100;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.login-link {
    text-decoration: none;
    color: #005eb8;
    font-size: 10px !important;
    margin-bottom: 15px;
}

.login-link-grey {
    color: #7c7c7c !important;
}


.login-link-grey:hover {
    color: #7c7c7c !important;
}

.login-link:hover {
    text-decoration: underline;
    color: #0a3c6b !important;
}

.login-input-group {
    font-size: 16px;
    position: relative;
    margin-top: 15px;
}

.login-input-field {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

a{
    color: #a6a3e0 !important;
}

.login-input-field:focus {
}

.login-show-password {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #005eb8;
    font-size: 14px;
    font-weight: bold;
}

.login-remember2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-remember-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.login-sign-in-btn {
    border-radius: 5px;
    background-color: #a6a3e0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 12px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: #2e1a47;
    opacity: 0.7;
}

.login-sign-in-btn:hover {
    opacity: 1;
}

.login-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.login-link {
    color: #005eb8;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 2px;
}

.login-link:hover {
    text-decoration: underline;
}











.account-container {
    max-width: 600px;
    padding: 50px 20px;
    margin: auto;
    width: 100%;
}

.page-bx {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .logo {
    max-width: 120px;
}

.top-header .logout-btn {
    background-color: #fff;
    border: 1px solid #004a9f;
    padding: 12px 20px;
    cursor: pointer;
    transition: ease 0.3s;
    color: #004a9f;
}

.top-header .logout-btn:hover {
    background-color: #004a9f;
    color: #fff;
}

.account-header h2 {
    color: #000;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
    font-size: 20px;
}

.page-bx h3 {
    margin-bottom: 10px;
    font-weight: lighter;
}

.page-bx h4 {
    margin: 0;
    font-size: 14px;
}

.accountnumber {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 18px;
    color: #767477;
}

.price {
    font-size: 40px;
    color: #8e8e8e;
    margin-top: 5px;

}

.detailarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.detailbx {
    min-width: calc(50% - 10px);
}